services:
    nginx:
        image: nginx:stable-alpine
        container_name: shopping_nginx
        ports:
            - "8080:80"
        volumes:
            - ./symfony:/var/www/html:ro
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
        depends_on:
            - php
        networks:
            - backend
    php:
        build:
            context: ./php
            dockerfile: Dockerfile
        container_name: shopping_php
        volumes:
            - ./symfony:/var/www/html
        networks:
            - backend
    
    db:
        image: mysql:8.0
        container_name: shopping_db
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: rootpass
            MYSQL_DATABASE: shopping
            MYSQL_USER: shopping_user
            MYSQL_PASSWORD: shopping_pass
        ports:
            - "3307:3306"
        volumes:
            - db_data:/var/lib/mysql
        networks:
            - backend
    
    phpmyadmin:
        image: phpmyadmin:latest
        container_name: shopping_phpmyadmin
        restart: always
        ports:
            - "8081:80"
        environment:
            PMA_HOST: db
            PMA_USER: shopping_user
            PMA_PASSWORD: shopping_pass
        depends_on:
            - db
        networks:
            - backend

networks:
    backend:
        driver: bridge

volumes:
    db_data: